<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <% if @feed.image.present? %>
    <%= image_tag @feed.image.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
