/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 body {
   margin: 0;
 }

 .container {
   width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
 }

 header {
   height:60px;
   background-color: gray;
 }

 .header-left {
   margin:10px 0 0 20px;
   float:left;
   font-size:24px;
 }

 .header-right {

   padding-top:10px;
   float:right;
   font-size:12px;
   color:white;
 }

.container {
   padding:0 15px;
   margin:0 auto;
 }



 .modal {
   position: absolute;
   top:20%;
   left:34%;
   background-color: #FF66CC;
   padding:20px 0 40px;
   border-radius: 10px;
   width:450px;
   height:auto;
   text-align:center;

 }






 .top-wrapper {
   width:500px;
   height:600px;
   margin:0 auto;
 }

 .theme {
   padding-top:200px;
   padding-bottom:10px;
   width:500px;
   text-align: left;
 }

 .line2 {
   padding-left:20px;
 }



 .btn {
   padding:8px 24px;
   display: inline-block;
   border-radius: 100px;
   color:white;
   background-color: #6666FF;
   cursor: pointer;
 }

 .btn:hover {
   opacity:0.6;
 }


 .message-wrapper {
   background-color: #9999FF;
   height:400px;
   padding:100px 0 10px 30px;
   color:white;
   text-align: center;
 }

 .faq-list {
   width:500px;
   margin:0 auto;
   padding:0;
   list-style: none;
 }
 .faq-list-item {
   margin-bottom:10px;
   cursor: pointer;
   position: relative;
   text-align: left;
 }






 /* footer {
   width:500px;
   padding:0 auto;
   text-align:center;
   padding:10px 0 10px 30px;
 } */
