// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

a {
  text-decoration: none;
}


h1 {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  color: red;
}

table {
  height:60px;
  background-color: #8EF1FF;
  margin: auto;
  width: 100%;
}

.header-left {
  margin:10px 0 0 20px;
  float:left;
  font-size:24px;
}

.header-right {
  /* margin:20px 10px 10px 0; */
  padding-top:10px;
  float:right;
  font-size:12px;
  color:white;
}


.chwitter  {
  color:black;
}


/* a:visited {
  color:white;
} */

.container {
  padding:0 15px;
  margin:0 auto;
}

/* モーダル */
.login-modal-wrapper ,.signup-modal-wrapper{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.6);
  z-index:100;
  /* 通常時は非表示 */
  display:none;
}

.modal {
  position: absolute;
  top:20%;
  left:34%;
  background-color: #e6ecf0;
  padding:20px 0 40px;
  border-radius: 10px;
  width:450px;
  height:auto;
  text-align:center;

}

/* 閉じるポタン*/
.fa-times {
  position: absolute;
  top:12px;
  right:12px;
  color:rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width:100%;
}

#signup-form input, #login-form input {

  width:320px;
  margin-bottom:20px;
  font-size:12px;
  padding:12px 12px;
  border:1px solid #d0d5d8;
  border-radius: 5px;
}

/* idは一意でなくてはならないので、別々のIDにする*/
#submit-btn, #subscribe-btn {
  display: inline-block;
  padding:14px 140px;
  background-color: #5dca88;
  border:none;
  border-radius: 3px;
  color:white;
  margin:10px auto;
  cursor: pointer;
}

#submit-btn:hover, #subscribe-btn:hover {
  opacity:0.6;
}

/* main */
.top-wrapper {
  width:500px;
  height:600px;
  margin:0 auto;
}

.theme {
  padding-top:200px;
  padding-bottom:10px;
  width:500px;
  text-align: left;
}

.line2 {
  padding-left:20px;
}

.btn-wrapper {
  padding:30px 0 0 30px;
}

.btn {
  padding:8px 24px;
  display: inline-block;
  border-radius: 100px;
  color:white;
  background-color:rgb(70, 176, 247);
  cursor: pointer;
}

.btn:hover {
  opacity:0.6;
}

/* メッセージ */
.message-wrapper {
  background-color: rgb(70, 176, 247);
  height:400px;
  padding:100px 0 10px 30px;
  color:white;
  text-align: center;
}

.faq-list {
  width:500px;
  margin:0 auto;
  padding:0;
  list-style: none;
}
.faq-list-item {
  margin-bottom:10px;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:20px;
  margin:0;
  font-size:13px;
}

.answer {
  display:none;
}


footer {
  width:500px;
  padding:0 auto;
  text-align:center;
  padding:10px 0 10px 30px;
}


.container a {
  color:black;
}
